.body{
	display: flex;
}

div.listView {
	flex: 1;
}
div.chartView {
	flex: 4;
}

div.listView ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.list-item {
	padding: 15px;
	background-color: #98d098;
	margin: 1px 0px;
	cursor: pointer;
	text-align: left;
}
li.list-item.active {
	background: green;
}